$orange-900: #FF6838;
$default: #F9FAFF;
$title: #363853;
$abg: #31352B;

%rubikregular-400 {
  font-family: 'Rubik-Regular',
    sans-serif;
  font-weight: 400;
}

%rubikmedium-500 {
  font-family: 'Rubik-Medium',
    sans-serif;
  font-weight: 500;
}

%rubikbolditalic-400 {
  font-family: 'Rubik-BoldItalic',
    sans-serif;
  font-weight: 400;
}

%rubikbold-700 {
  font-family: 'Rubik-Bold',
    sans-serif;
  font-weight: 700;
}