@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';

.header {
  padding: 60px 0;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    margin-right: auto;
    margin-bottom: 5px;

    &:focus {
      border: 2px solid $orange-900;
      border-radius: 8px;
    }

    &:hover {
      opacity: 0.6;
      transition: opacity 0.3s;
    }

    &:active {
      opacity: 0.5;
      transition: opacity 0.3s;
    }

  }

}


.nav__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu {
  &__list {
    display: flex;
  }

  &__list-item:not(:first-child) {
    padding-left: 45px;
  }

  &__list-link {
    color: #31352B;
    font-size: 18px;
    line-height: 21px;
    @extend %rubikregular-400;
  }

  &__list-link:focus {
    border: 2px solid $orange-900;
    border-radius: 8px;
  }

  &__list-link:hover {
    color: $orange-900;
    transition: color 0.3s;
  }

  &__list-link:active {
    color: $orange-900;
    border-radius: none;
    filter: drop-shadow(1px 1px 2px #31352B80);
    transition: filter 0.3s;
  }
}

.user-nav {
  display: flex;
  justify-content: start;


  &__img--search {
    color: #363853;
    width: 24px;
    height: 24px;
  }

  &__img--search:hover {
    background-color: $orange-900;
    stroke: #FFFFFF;
    stroke-width: 2px;
    transition: background-color 0.3s;
  }

  &__img--cart {
    color: #363853;
    width: 28px;
    height: 23px;
  }

  &__img--cart:hover {
    background-color: $orange-900;
    stroke: #FFFFFF;
    stroke-width: 2px;
    transition: background-color 0.3s;
  }

  &__link {
    position: relative;
    padding: 8px 14px;
    margin-left: 30px;
    background-color: $default;
    border: none;
  }

  &__num {
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: $orange-900;
    top: 9px;
    right: 8px;
    font-size: 10px;
    color: #FFFFFF;
    text-align: center;
    line-height: 12px;
  }

  &__num:hover {
    background-color: $default;
    color: $orange-900;
  }


  &__link:focus {
    background-color: #f1cfc4;
    border: 2px solid $orange-900;
    border-radius: 6px;
    transition: background-color 0.3s;
  }

  &__link:hover {
    background-color: $orange-900;
    border: none;
    border-radius: 6px;
    transition: background-color 0.3s;
  }

  &__link:active {
    background-color: #f1cfc4;
    border: none;
    border-radius: 6px;
    transition: background-color 0.3s;
  }

}

footer {
  background-color: $default;
  padding-bottom: 30px;
}

.footer-top {
  display: flex;
  padding-bottom: 60px;
  border-bottom: 1px solid #C2C2C2;

  &__item {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin-right: 70px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin-right: 70px;
    margin-top: 30px;
    margin-bottom: 25px;
  }

  &__form-input {
    display: block;
    margin-bottom: 12px;
    width: 200px;
    height: 44px;
    @extend %rubikregular-400;
    font-size: 14px;
    line-height: 18px;
    padding: 13px 15px;
    border: 1px solid #C2C2C2;
    border-radius: 6px;
  }

  &__form-btn {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 200px;
    height: 44px;
    background-color: $orange-900;
    border: none;
    border-radius: 6px;
    color: #FFFFFF;
    position: relative;

    .footer-top__form--text::before {
      content: '';
      position: absolute;
      background-repeat: no-repeat;
      background-image: url('../images/sprite.svg#frame');
      width: 15px;
      height: 15px;
      left: 43px;
      top: 14px;
    }
  }


  &__form--text {
    padding-left: 30px;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 18px;
    cursor: pointer;
    @extend %rubikmedium-500;
  }



&__nav {
  width: 190px;
  margin-right: 45px;
}

&__list {
  font-size: 18px;
  line-height: 24px;
  @extend %rubikregular-400;
}

&__link {
  padding-bottom: 20px;
  font-size: 18px;
  line-height: 24px;
  @extend %rubikregular-400;
}


&__contact {
  display: flex;
  width: 180px;
}

&__location {
  display: flex;
  width: 180px;
}

&__img--location {
  width: 24px;
  height: 24px;
}

&__img--phone {
  width: 24px;
  height: 24px;
}

&__img--email {
  width: 24px;
  height: 24px;
}

&__call {
  display: flex;
  width: 180px;
}

&__mail {
  display: flex;
  width: 180px;
}

&__adress,
&__email,
&__phone {
  line-height: 32px;
  display: block;
  padding-bottom: 20px;
  padding-left: 3px;
  font-size: 16px;
  @extend %rubikregular-400;
}

&__social-list {
  display: flex;
}

&__social-item {
  display: flex;
}

&__social-link {
  display: block;
  padding-right: 22px;
  padding-left: 15px;
}

}

.footer-bottom {
  text-align: center;
  padding-bottom: 30px;
  padding-top: 30px;

  &__copy {
    @extend %rubikregular-400;
    color: #31352B;
    font-size: 14px;
    line-height: 14px;
  }

}

.delivery-minutes {

  display: flex;
  justify-content: space-between;
  &__img {
    display: block;
    max-width: 560px;
    height: 660px;
    object-fit: cover;
  }
}











@import 'media';