@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header {
  padding: 60px 0;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    margin-right: auto;
    margin-bottom: 5px;

    &:focus {
      border: 2px solid $orange-900;
      border-radius: 8px;
    }

    &:hover {
      opacity: 0.6;
      transition: opacity 0.3s;
    }

    &:active {
      opacity: 0.5;
      transition: opacity 0.3s;
    }

  }

}


.nav__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu {
  &__list {
    display: flex;
  }

  &__list-item:not(:first-child) {
    padding-left: 45px;
  }

  &__list-link {
    color: #31352B;
    font-size: 18px;
    line-height: 21px;
    @extend %rubik-400;
  }

  &__list-link:focus {
    border: 2px solid $orange-900;
    border-radius: 8px;
  }

  &__list-link:hover {
    color: $orange-900;
    transition: color 0.3s;
  }

  &__list-link:active {
    color: $orange-900;
    border-radius: none;
    filter: drop-shadow(1px 1px 2px #31352B80);
    transition: filter 0.3s;
  }
}

.user-nav {
  display: flex;
  justify-content: start;


  &__img--search {
    color: #363853;
    width: 24px;
    height: 24px;
  }

  &__img--search:hover {
    background-color: $orange-900;
    stroke: #FFFFFF;
    stroke-width: 2px;
    transition: background-color 0.3s;
  }

  &__img--cart {
    color: #363853;
    width: 28px;
    height: 23px;
  }

  &__img--cart:hover {
    background-color: $orange-900;
    stroke: #FFFFFF;
    stroke-width: 2px;
    transition: background-color 0.3s;
  }

  &__link {
    position: relative;
    padding: 8px 14px;
    margin-left: 30px;
    background-color: $default;
    border: none;
  }

  &__num {
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: $orange-900;
    top: 9px;
    right: 8px;
    font-size: 10px;
    color: #FFFFFF;
    text-align: center;
    line-height: 12px;
  }

  &__num:hover {
    background-color: $default;
    color: $orange-900;
  }


  &__link:focus {
    background-color: #f1cfc4;
    border: 2px solid $orange-900;
    border-radius: 6px;
    transition: background-color 0.3s;
  }

  &__link:hover {
    background-color: $orange-900;
    border: none;
    border-radius: 6px;
    transition: background-color 0.3s;
  }

  &__link:active {
    background-color: #f1cfc4;
    border: none;
    border-radius: 6px;
    transition: background-color 0.3s;
  }

}

footer {
  background-color: $default;
  padding-bottom: 30px;
}

.footer-top {
  display: flex;
  padding-bottom: 60px;
  border-bottom: 1px solid #C2C2C2;

  &__item {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin-right: 70px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin-right: 70px;
    margin-top: 30px;
    margin-bottom: 25px;
  }

  &__form-input {
    display: block;
    margin-bottom: 12px;
    width: 200px;
    height: 44px;
    @extend %rubik-400;
    font-size: 14px;
    line-height: 18px;
    padding: 13px 15px;
    border: 1px solid #C2C2C2;
    border-radius: 6px;
  }

  &__form-btn {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 200px;
    height: 44px;
    background-color: $orange-900;
    border: none;
    border-radius: 6px;
    color: #FFFFFF;
    position: relative;

    .footer-top__form--text::before {
      content: '';
      position: absolute;
      background-repeat: no-repeat;
      background-image: url('../images/sprite.svg#frame');
      width: 15px;
      height: 15px;
      left: 43px;
      top: 14px;
    }
  }


  &__form--text {
    padding-left: 30px;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 18px;
    cursor: pointer;
    @extend %rubik-500;
  }



  &__nav {
    width: 190px;
    margin-right: 45px;
  }

  &__list {
    font-size: 18px;
    line-height: 24px;
    @extend %rubik-400;
  }

  &__link {
    padding-bottom: 20px;
    font-size: 18px;
    line-height: 24px;
    @extend %rubik-400;
  }


  &__contact {
    display: flex;
    width: 180px;
  }

  &__location {
    display: flex;
    width: 180px;
  }

  &__img--location {
    width: 24px;
    height: 24px;
  }

  &__img--phone {
    width: 24px;
    height: 24px;
  }

  &__img--email {
    width: 24px;
    height: 24px;
  }

  &__call {
    display: flex;
    width: 180px;
  }

  &__mail {
    display: flex;
    width: 180px;
  }

  &__adress,
  &__email,
  &__phone {
    line-height: 32px;
    display: block;
    padding-bottom: 20px;
    padding-left: 3px;
    font-size: 16px;
    @extend %rubik-400;
  }

  &__social-list {
    display: flex;
  }

  &__social-item {
    display: flex;
  }

  &__social-link {
    display: block;
    padding-right: 22px;
    padding-left: 15px;
  }

}

.footer-bottom {
  text-align: center;
  padding-bottom: 30px;
  padding-top: 30px;

  &__copy {
    @extend %rubik-400;
    color: #31352B;
    font-size: 14px;
    line-height: 14px;
  }

}

.delivery-minutes {
  margin-bottom: 120px;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 120px;
  }

  &__content {
    max-width: 450px;
    width: 100%;
  }

  &__title {
    color: $title;
    margin-top: 155px;
    font-size: 66px;
    line-height: 85px;
    @extend %rubik-500;
    width: 450px;
  }

  &__title--orange {
    color: $orange-900;
    font-size: 66px;
    line-height: 85px;
    @extend %rubik-500;
    margin-bottom: 20px;
  }

  &__text {
    font-size: 20px;
    line-height: 30px;
    @extend %rubik-400;
    color: $abg;
    margin-bottom: 20px;
  }

  &__form {
    display: flex;
    justify-content: flex-start;
  }

  &__btn {
    font-size: 18px;
    line-height: 23px;
    color: #fff;
    margin-right: 35px;
    @extend %rubik-400;
    width: 145px;
    height: 47px;
    background-color: $orange-900;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }

  &__link {
    font-size: 20px;
    line-height: 30px;
    color: $title;
    text-decoration: underline;
    margin-top: 8px;
  }

  &__img {
    display: block;
    height: 660px;
    width: 550px;
    object-fit: cover;
  }

}

.categories {

  &__inner {}

  &__title {
    text-align: center;
    margin-bottom: 60px;
    font-size: 36px;
    line-height: 46px;
    @extend %rubik-500;
    color: $title;
  }

}

.categories-menu {
  margin-bottom: 45px;

  &__link {
    @extend %rubik-400;
    font-size: 20px;
    line-height: 26px;
    color: $title;
    margin-right: 20px;
  }

  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__btn--burgers {
    display: flex;
    justify-content: center;
    width: 200px;
    height: 70px;
    box-shadow: 0px 0px 0px 1px rgba(236, 236, 236, 1);
    border-radius: 5px;
    background-color: $orange-900;
    color: #fff;
    border: none;
    cursor: pointer;
  }

  &__img--burgers {
    width: 44px;
    height: 44px;
    margin-top: 13px;
    margin-right: 10px;
  }

  &__text--burgers {
    margin-top: 20px;
  }

  // &__img--burgers:hover {
  //   color: red;
  // }

  // &__btn-text--burgers::before { 
  //     content: "";
  //     position: absolute;
  //     background-repeat: no-repeat;
  //     background-image: url('images/sprite.svg#burger-menu');
  //     width: 44px;
  //     height: 44px;
  //     left: 0;
  //     top: 0px;

  // }

  &__btn--pizza {
    display: flex;
    justify-content: center;
    width: 181px;
    height: 70px;
    border-radius: 5px;
    box-shadow: 0px 0px 0px 1px rgba(236, 236, 236, 1);
    background-color: #fff;
    border: none;
    cursor: pointer;
  }

  &__img--pizza {
    width: 44px;
    height: 44px;
    margin-top: 13px;
    margin-right: 10px;
  }

  &__text--pizza {
    margin-top: 20px;
  }

  &__btn--sandwiches {
    display: flex;
    justify-content: center;
    width: 214px;
    height: 70px;
    border-radius: 5px;
    box-shadow: 0px 0px 0px 1px rgba(236, 236, 236, 1);
    background-color: #fff;
    border: none;
    cursor: pointer;
  }

  &__img--sandwiches {
    width: 44px;
    height: 44px;
    margin-top: 13px;
    margin-right: 10px;
  }

  &__text--sandwiches {
    margin-top: 20px;
  }

  &__btn--asian {
    display: flex;
    justify-content: center;
    width: 280px;
    height: 70px;
    border-radius: 5px;
    box-shadow: 0px 0px 0px 1px rgba(236, 236, 236, 1);
    background-color: #fff;
    border: none;
    cursor: pointer;
  }

  &__img--asian {
    width: 44px;
    height: 44px;
    margin-top: 13px;
    margin-right: 10px;
  }

  &__text--asian {
    margin-top: 20px;
  }

  &__btn--sets {
    display: flex;
    justify-content: center;
    width: 167px;
    height: 70px;
    border-radius: 5px;
    box-shadow: 0px 0px 0px 1px rgba(236, 236, 236, 1);
    background-color: #fff;
    border: none;
    margin-right: 48px;
    cursor: pointer;
  }

  &__img--sets {
    width: 44px;
    height: 44px;
    margin-top: 13px;
    margin-right: 10px;
  }

  &__text--sets {
    margin-top: 20px;
  }


}

.categories-items {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 2;
  grid-row-gap: 30px;
  margin-bottom: 60px;

  &__item {
    width: 210px;
    height: 300px;
    box-shadow: 0px 0px 0px 1px rgba(236, 236, 236, 1);
    background-color: #fff;
    border-radius: 5px;
    text-align: center;
    grid-gap: 20px;
  }

  &__img {
    margin: 20px 35px;
    width: 140px;
    height: 140px;
  }

  &__text {
    font-size: 15px;
    line-height: 17px;
    @extend %rubik-400;
    margin-bottom: 10px;
  }

  &__price {
    font-size: 15px;
    line-height: 21px;
    @extend %rubik-500;
    margin-bottom: 10px;
  }

  &__price--num {
    font-size: 15px;
    line-height: 21px;
    @extend %rubik-500;
    margin-bottom: 28px;
  }

  &__btn {
    font-size: 14px;
    line-height: 18px;
    @extend %rubik-400;
    width: 101px;
    height: 32px;
    margin-bottom: 20px;
    align-items: center;
    background-color: $orange-900;
    border-radius: 6px;
    color: #fff;
    padding: 7px 16px;
    margin-left: 54px;
    cursor: pointer;
  }
}

.categories-bottom {
  &__link {
    text-decoration: underline;

  }

  &__text {
    color: $title;
    margin-bottom: 60px;
    font-size: 20px;
    line-height: 30px;
    @extend %rubik-400;
    text-align: center;
  }
}

.stay-home {
  &__inner {
    display: flex;
    justify-content: space-between;
    margin: 120px 0;
  }

  &__img {
    margin-right: 120px;
    object-fit: cover;
    width: 440px;
    height: 585px;
  }

  &__title {
    width: 470px;
    height: 94px;
    color: $title;
    font-size: 36px;
    line-height: 47px;
    @extend %rubik-500;
    margin-top: 60px;
    margin-bottom: 30px;
  }

  &__text {
    width: 470px;
    height: 90px;
    font-size: 20px;
    line-height: 30px;
    @extend %rubik-400;
    color: $abg;
    margin-bottom: 30px;
  }

  &__item {
    display: flex;
    justify-content: start;
    margin-bottom: 20px;
  }

  &__img--time {
    width: 34px;
    height: 34px;
    margin-right: 30px;
  }

  &__img--men {
    width: 34px;
    height: 34px;
    margin-right: 30px;
  }

  &__img--resturent {
    width: 34px;
    height: 34px;
    margin-right: 30px;
  }

  &__item--text {
    font-size: 24px;
    line-height: 36px;
    @extend %rubik-400;
    color: $title;
  }

  &__btn {
    margin-top: 10px;
    width: 165px;
    height: 47px;
    padding: 12px 32px;
    align-items: center;
    background-color: $orange-900;
    border-radius: 6px;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 18px;
    line-height: 23px;
    @extend %rubik-400;
  }

}

.best-restaurants {
  margin-bottom: 120px;

  &__title {
    font-size: 36px;
    line-height: 47px;
    @extend %rubik-500;
    text-align: center;
    top: 5px;
    margin-bottom: 45px;
    color: $title;
  }

  &__inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 2;
    grid-row-gap: 30px;
    margin-bottom: 60px;
    border-radius: 10px;
  }

  &__item {
    width: 370px;
    height: 419px;
    border-radius: 10px;
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }

  &__img {
    width: 370px;
    height: 300px;
    margin-bottom: 15px;
    object-fit: cover;
  }

  &__text {
    font-size: 24px;
    line-height: 31px;
    @extend %rubik-400;
    color: $abg;
    margin-left: 20px;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }

  &__watch {
    display: flex;
    justify-content: flex-start;
  }

  &__img--timer-1 {
    width: 22px;
    height: 22px;
    margin-right: 10px;
    margin-top: 5px;
  }

  &__time {
    font-size: 18px;
    line-height: 30px;
    @extend %rubik-400;
    color: $abg;
  }

  &__btn {
    width: 79px;
    height: 33px;
    border-radius: 20px;
    align-items: center;
    background-color: $orange-900;
    border: none;
    cursor: pointer;
  }

  &__img--arrow-small-right {
    width: 24px;
    height: 24px;
    margin-top: 4px;
  }
}

.mobile-app {
  margin: 120px;

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    margin: 45px 0;
    font-size: 36px;
    line-height: 46px;
    @extend %rubik-500;
    color: $title;
  }

  &__text {
    margin-bottom: 30px;
    @extend %rubik-400;
    font-size: 20px;
    line-height: 30px;
    color: $abg;
  }

  &__list {
    display: flex;
    justify-content: start;
  }

  &__link {
    padding-right: 30px;
  }

  &__img-big {
    width: 570px;
    height: 380px;
    object-fit: cover;
  }
}

.slider {
  &__items {
    display: flex;
    justify-content: start;
  }

  &__title {
    margin-bottom: 45px;
    text-align: center;
    font-size: 36px;
    line-height: 46px;
    @extend %rubik-400;
    color: $title;
  }

  &__img {
    margin-left: 90px;
    margin-right: 40px;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    object-fit: cover;
  }

  &__content {
    width: 650px;
    height: 240px;
  }

  &__blockquote {
    font-size: 20px;
    line-height: 30px;
    @extend %rubik-400;
    font-style: italic;
    margin-top: 75px;
    margin-bottom: 30px;
  }

  &__link {
    font-size: 20px;
    line-height: 26px;
    @extend %rubik-500;
    color: $orange-900;
  }

  &__blockquote-text {
    @extend %rubik-400;
    font-size: 14px;
    line-height: 18px;
    color: $abg;
    margin-top: 10px;
  }

  &__blockquote-img--right {
    width: 24px;
    height: 19px;
    margin-left: -28px;
  }

  &__blockquote-img--left {
    width: 24px;
    height: 19px;
    right: 0;
  }

}

.slick-dots {
  display: flex;
  justify-content: center;

  :not(:last-child) {
    padding-right: 15px;
  }

  button {
    font-size: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-top: 48px;
    border: none;
    background-color: #C2C2C2;
  }
}


.slick-arrow {
  font-size: 0;
}

.slick-active button {
  background-color: $orange-900;
}

.slick-prev {
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  position: absolute;
  top: 100%;
  transform: translateY(-50%);
  left: 0;
  margin-top: 0;
  margin-left: 480px;

}

.slick-next {
  border: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
  position: absolute;
  top: 100%;
  transform: translateY(-50%);
  right: 0;
  margin-top: -14px;
  margin-right: 480px;

}

.prev__arrow {
  margin-right: 20px;
}








@import 'media';